/* 侧边栏样式 */
.sidebar {
  font-family: deyihei;
  position: fixed;
  /* 固定位置 */
  left: 0;
  /* 左侧对齐 */
  top: 0;
  /* 顶部对齐 */
  width: 250px;
  /* 侧边栏宽度 */
  height: 100%;
  /* 侧边栏高度 */
  background-color: rgba(15, 15, 17, 1);
  padding: 0;

  /* 背景颜色 */
  color: white;
  /* 文字颜色 */
  overflow: auto;
  /* 如果内容过多，则显示滚动条 */

  border-image: linear-gradient(18deg, #939afb, #b18afa) 1;
  border-right: solid 2px;



  .zx-photo {
    width: 216px;
    height: 220px;
    object-fit: cover;
    /* // background-color: rgba(255, 255, 255, 0.6); */
    background: linear-gradient(18deg, #93abfb, #e482f8);
    margin: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;

    border-radius: 8px;
  }

  .self-intro {
    display: block;
    /* 块级显示 */
    color: rgba(255, 255, 255, 0.6);
    /* 链接颜色 */
    padding: 16px;
    /* 内边距 */

    /* // 渐变色文字 */
    background: linear-gradient(18deg, #93a3fb, #c797fd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 123%;

    text-align: center;
  }
}

/* 侧边栏内的链接样式 */
.sidebar a {
  display: block;
  /* 块级显示 */
  color: white;
  /* 链接颜色 */
  padding: 16px;
  /* 内边距 */
  text-decoration: none;
  /* 去除下划线 */
}

/* 鼠标悬停时的链接样式 */
.sidebar a:hover {
  background-color: #555;
  /* 鼠标悬停时的背景颜色 */
}

/* 主要内容区域样式，确保内容不被侧边栏覆盖 */

.main-content {
  font-family: deyihei;
  margin-left: 250px;
  /* 与侧边栏宽度相同 */
  padding: 16px;
  /* 内边距 */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* 元素靠上方 */
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: calc(100vw - 250px);

  min-height: 100vh;

  color: rgba(255, 255, 255, 0.6);

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;


  .emo-text-box {
    display: flex;
    flex-direction: column;

    text-align: left;

    color: #ffffffa9;
    font-size: 24px;
    font-weight: bold;
    margin-left: 6vw;
    margin-right: 6vw;
    padding: calc(1vw + 1vh);
    /* width: calc(0.5 * (100vw - 250px)); */
    width: calc(100% - 12vw);

    border: solid 2px;
    border-image: linear-gradient(18deg, #fcfcff60, #fffaff60) 1;

    transition: all 0.3s ease-in-out;

    &:hover {
      /* // background-color: #ffffff12; */
      border-image: linear-gradient(213deg, #3b48ff, #ff37f5) 1;
      width: 70vw;
    }
  }

  h1 {
    color: white;
    margin-bottom: calc(1.2vw + 1.2vh);
    margin-top: calc(0.75vw + 0.75vh);
  }

  p {
    color: #ffffff99;
  }
}

/* 响应式设计，当屏幕宽度小于600px时，侧边栏变为顶部导航 */
@media screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-bottom: solid 2px;
    border-image: linear-gradient(18deg, #9196db, #e2a0df) 1;

    .zx-photo {
      width: 220px;
      height: 220px;
      object-fit: cover;
      background-color: white;
      margin: 15px;
    }

    a {
      float: left;
    }
  }

  .main-content {
    font-family: deyihei;
    padding: 16px;
    /* 内边距 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin: 0;

    color: rgba(255, 255, 255, 0.6);

    .emo-text-box {
      color: #ffffffa9;
      font-size: 24px;
      font-weight: bold;
      width: 82vw;

      transition: all 0.3s ease-in-out;

      &:active {
        background-color: #555;
        /* // width: 80vw; */
      }
    }
  }
}